{% extends "base.html" %}

{% block breadcrumbs %}
	<a href="{% url view_board board.slug %}">{{ board.title }}</a> /
	<a href="{% url view_catagory board.slug category.slug %}">{{ category.title }}</a> /
	{{post.title}}
{% endblock %}

{% block content %}

	<div id="post-box">
	   <h2>{{post.title}}</h2>
	   <div>Created: {{ post.created|date:"D M d" }} by {{ post.user.username }}</div>
	   <p>
	      {{ post.description }}
	   </p>
   </div>
   {% ifequal post.user user %}
   		<a href="{% url edit_post post.board.slug post.category.slug post.slug %}">Edit</a>
   {% endifequal %}

{% endblock %}